            <div class="footerOutBox ">
                    <div class="footerbar">
                        <div class="foot_iconBox fb1">
                            <p class="foot_icon"><i class="layout_icon"></i></p>
                            <p class="foot_icon_txt ">课表</p>
                        </div>
                        <div class="foot_iconBox fb2 active">
                            <p class="foot_icon"><i class="layout_icon"></i></p>
                            <p class="foot_icon_txt ">作业</p>
                        </div>
                        <div class="foot_iconBox fb3">
                            <p class="foot_icon"><i class="layout_icon"></i><span class="msgTips"></span></p>
                            <p class="foot_icon_txt ">消息</p>

                        </div>
                        <div class="foot_iconBox fb4">
                            <p class="foot_icon"><i class="layout_icon"></i></p>
                            <p class="foot_icon_txt ">我的</p>
                        </div>
                    </div>
            </div>
    </div>
</body>
</html>